{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-jsdoc"],
  "jsdocPrintWidth": 80,
  "jsdocSeparateReturnsFromParam": true
}
